
body{
    /* Background Halaman Web */
    background-color: #746a6a;


}
.wrapper {
    background :grey;
}

.container {
    width: 1000px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #bdc3c7;
}

.sidebar {
    width: 400px;
    /* height: 600px; */
    float: left;
}
.content{
    width: 600px;
    /* height: 600px; */
    float: right;
    /* background: #746a6a; */
}
.clear{
    clear: both;
}
#logo{
    float: left;
    width: 200px;
    height: auto;
    padding: 20px;
}
#logo img {
    max-width: 69%;
    height: auto;
}
#menu{
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
    width: 750px;
}
#menu li{
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
#menu li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #34495e;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.blog-single{
    float: right;
    height: 400px;
    width: 720px;
    max-width: 586px; 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.blog-single img{
    width: 95%;
    height: 280px;
    /* object-fit: cover; */
}
.recent-article {
    padding-right: 10px;
    padding-left: 10px;
}
.recent-article ul {
    padding: 0;
    margin: 0;
    list-style: none;
}




